{
  "extends": [
    "eslint:recommended",
    "@nuxtjs/eslint-config-typescript",
    "prettier",
    "plugin:vuetify/base",
    "plugin:nuxt/recommended",
  ],
  "rules": {
    "no-console": "off",
  },
}
